/**************** extend css start ****************/
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

.btn_1, .live_stareams .live_stareams_slide .live_stareams_slide_img:after, .Latest_War .Latest_War_text:after, .gallery_part .single_gallery_item .single_gallery_item_iner:after, .footer_part .single_footer_part .mail_part .email_icon {
    background-image: -webkit-gradient(linear, right top, left top, from(#ff0000), color-stop(51%, #c6019a), to(#ff0000));
    background-image: -webkit-linear-gradient(right, #ff0000 0%, #c6019a 51%, #ff0000 100%);
    background-image: -o-linear-gradient(right, #ff0000 0%, #c6019a 51%, #ff0000 100%);
    background-image: linear-gradient(to left, #ff0000 0%, #c6019a 51%, #ff0000 100%);
}

.main_menu .main-menu-item .nav-item a:before {
    background-image: -webkit-gradient(linear, right top, left top, from(#c6019a), to(#ff0000));
    background-image: -webkit-linear-gradient(right, #c6019a 0%, #ff0000 100%);
    background-image: -o-linear-gradient(right, #c6019a 0%, #ff0000 100%);
    background-image: linear-gradient(to left, #c6019a 0%, #ff0000 100%);
}


/* line 247, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_common.scss */
.body_bg {
    background-image: url("../img/body_bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


@media only screen and (min-width: 1200px) and (max-width: 3640px) {
    /* line 238, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_common.scss */
    .container {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
}


.game_logo{
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
    margin: 0 auto
}

.game_intro {
    position: relative;
    width: 100%;
    z-index: 99;
    background: url(../img/live_stareams_bg.png) no-repeat center;
    background-size: auto;
    padding: 200px 0 300px;
    overflow: hidden;
}

/**************menu part start*****************/
/* line 2, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_menu.scss */


/* line 9, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_menu.scss */
.main_menu .navbar-brand {
    padding-top: 0rem;
    padding-bottom: 0px;
}

/* line 14, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_menu.scss */
.main_menu .navbar {
    padding: 0px;
}

/* line 18, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_menu.scss */
.main_menu .main-menu-item {
    justify-content: center;
}

/* line 21, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_menu.scss */
.main_menu .main-menu-item ul li .nav-link {
    color: #fff;
    font-size: 15px;
    padding: 43px 23px;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    line-height: 12px;
    font-weight: 400;
}

/* line 29, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_menu.scss */
.main_menu .main-menu-item ul li .nav-link:hover {
    color: #fff;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    /* line 21, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_menu.scss */
    .main_menu .main-menu-item ul li .nav-link {
        padding: 35px 20px;
    }
}

/* line 39, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_menu.scss */
.main_menu .main-menu-item .nav-item a {
    position: relative;
    z-index: 1;
}

/* line 42, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_menu.scss */
.main_menu .main-menu-item .nav-item a:before {
    position: absolute;
    left: 16%;
    top: 49px;
    width: 0%;
    height: 2px;
    content: "";
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

/* line 53, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_menu.scss */
.main_menu .main-menu-item .nav-item a:hover:before {
    width: 67%;
}

/* line 62, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_menu.scss */
.main_menu #search_1 i {
    color: #fff;
}

/* line 69, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_menu.scss */
.main_menu .dropdown-toggle:hover .nav-item .dropdown {
    color: #ff0000 !important;
}

/* line 75, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_menu.scss */
.main_menu #search_input_box {
    position: fixed;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    max-width: 1140px;
    z-index: 999;
    text-align: center;
    background: #ff0000;
}

/* line 89, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_menu.scss */
.main_menu #search_input_box ::placeholder {
    color: #fff;
}

@media (max-width: 991px) {
    /* line 75, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_menu.scss */
    .main_menu #search_input_box {
        margin-top: 15px;
    }
}

/* line 99, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_menu.scss */
.main_menu #search_input_box .form-control {
    background: transparent;
    border: 0;
    color: #ffffff;
    font-weight: 400;
    font-size: 15px;
    padding: 0;
}

/* line 108, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_menu.scss */
.main_menu #search_input_box .btn {
    width: 0;
    height: 0;
    padding: 0;
    border: 0;
}

/* line 115, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_menu.scss */
.main_menu #search_input_box .ti-close {
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    padding: 10px;
    padding-right: 0;
}

/* line 124, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_menu.scss */
.main_menu .search-inner {
    padding: 5px 5px;
}

/* line 128, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_menu.scss */
.main_menu .form-control:focus {
    box-shadow: none;
}

/* line 132, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_menu.scss */
.main_menu .active_color {
    color: #f5790b !important;
}

/* line 137, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_menu.scss */
.cart {
    margin-left: 20px;
}

/* line 140, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_menu.scss */
.cart .dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border: 0px solid transparent;
}

/* line 148, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_menu.scss */
.cart i {
    color: #fff;
    position: relative;
    z-index: 1;
    font-size: 15px;
}

/* line 154, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_menu.scss */
.cart i:after {
    position: absolute;
    border-radius: 50%;
    background-color: #f13d80;
    width: 14px;
    height: 14px;
    right: -8px;
    top: -8px;
    content: "5";
    text-align: center;
    line-height: 15px;
    font-size: 10px;
}

/* line 171, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_menu.scss */
.menu_fixed {
    position: fixed;
    z-index: 9999 !important;
    width: 100%;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
    top: 0;
    background-color: #ff0000;
}

/* line 179, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_menu.scss */
.menu_fixed .active_color {
    color: #ff0000 !important;
}

/* line 185, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_menu.scss */
.dropdown .dropdown-menu {
    transition: all 0.5s;
    overflow: hidden;
    transform-origin: top center;
    transform: scale(1, 0);
    display: block;
    border: 0px solid transparent;
    background-color: #ff0000;
}

/* line 194, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_menu.scss */
.dropdown .dropdown-menu .dropdown-item {
    font-size: 14px;
    padding: 8px 20px !important;
    color: #fff !important;
    background-color: #ff0000;
    text-transform: capitalize;
}

/* line 205, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_menu.scss */
.dropdown:hover .dropdown-menu {
    transform: scale(1);
}

@media (max-width: 991px) {
    /* line 214, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_menu.scss */
    .main_menu {
        padding: 26px 0px;
    }
    /* line 218, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_menu.scss */
    .home_menu .main-menu-item {
        padding-left: 0px;
    }
    /* line 222, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_menu.scss */
    .main_menu .main-menu-item {
        text-align: left !important;
    }
    /* line 225, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_menu.scss */
    .main_menu .main-menu-item .nav-item {
        padding: 10px 15px !important;
    }
    /* line 228, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_menu.scss */
    .main_menu .main-menu-item .nav-item .nav-link {
        padding: 5px 15px !important;
        color: #000;
    }
    /* line 235, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_menu.scss */
    .navbar-collapse {
        z-index: 9999 !important;
        position: absolute;
        left: 0;
        top: 50px;
        width: 100%;
        background-color: #fff;
        text-align: center !important;
    }
    /* line 246, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_menu.scss */
    .dropdown .dropdown-menu {
        transform: scale(1, 0);
        display: none;
        margin-top: 10px;
    }
    /* line 253, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_menu.scss */
    .dropdown:hover .dropdown-menu {
        transform: scale(1);
        display: block;
        color: #ff0000;
    }
    /* line 260, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_menu.scss */
    .dropdown .dropdown-item:hover {
        color: #ff0000 !important;
    }
    /* line 265, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_menu.scss */
    .navbar-brand img {
        max-width: 100px;
    }
    /* line 269, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_menu.scss */
    .navbar-light .navbar-toggler {
        border-color: transparent;
    }
    /* line 274, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_menu.scss */
    .menu_icon i {
        color: #fff;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    /* line 281, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_menu.scss */
    .navbar-collapse {
        z-index: 9999 !important;
        position: absolute;
        left: 0;
        top: 50px;
        width: 100%;
        background-color: #fff;
        text-align: center !important;
    }
    /* line 291, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_menu.scss */
    .navbar-brand img {
        max-width: 100px;
        margin: 0 auto;
        position: absolute;
        left: 0;
        right: 0;
        display: inline-block;
        top: 10px;
    }
    /* line 301, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_menu.scss */
    .navbar-light .navbar-toggler {
        border-color: transparent;
        position: absolute;
        left: 0;
    }
    /* line 307, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_menu.scss */
    .btn_1 {
        margin-top: 0;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* line 313, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_menu.scss */
    .navbar-collapse {
        z-index: 9999 !important;
        position: absolute;
        left: 0;
        top: 50px;
        width: 100%;
        background-color: #fff;
        text-align: center !important;
    }
    /* line 323, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_menu.scss */
    .navbar-brand img {
        max-width: 100px;
        margin: 0 auto;
        position: absolute;
        left: 0;
        right: 0;
        display: inline-block;
        top: 10px;
    }
    /* line 333, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_menu.scss */
    .navbar-light .navbar-toggler {
        border-color: transparent;
        position: absolute;
        left: 0;
    }
    /* line 339, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_menu.scss */
    .btn_1 {
        margin-top: 0;
    }
}

/* line 344, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_menu.scss */
.dropdown-menu {
    border: 0px solid rgba(0, 0, 0, 0.15) !important;
    background-color: #fafafa;
}

/* line 350, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_menu.scss */
.dropdown:hover .dropdown-menu {
    display: block;
}

/* line 358, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_menu.scss */
.single_page_menu .main-menu-item .nav-item a {
    position: relative;
    z-index: 1;
}

/* line 361, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_menu.scss */
.single_page_menu .main-menu-item .nav-item a:before {
    position: absolute;
    left: 16%;
    top: 49px;
    width: 0%;
    height: 2px;
    content: "";
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

/* line 372, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_menu.scss */
.single_page_menu .main-menu-item .nav-item a:hover:before {
    width: 67%;
}


/**************** intro part css start ****************/
/* line 2, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_banner.scss */
.intro_part {
    position: relative;
    width: auto;
    background: url(../img/esports-bg.jpg) no-repeat center;
    background-size: contain;
    margin-bottom: 100px;
}


/* line 8, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_banner.scss */
.intro_part .intro_text {
    display: table;
    width: 100%;
    height: 720px;
    margin: auto;
}

/* line 12, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_banner.scss */
.intro_part .intro_text .intro_text_iner {
    display: table-cell;
    vertical-align: middle;
}

@media (max-width: 991px) {
    /* line 8, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_banner.scss */
    .intro_part .intro_text {
        height: 650px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    /* line 8, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_banner.scss */
    .intro_part .intro_text {
        height: 650px;
    }
}

/* line 22, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_banner.scss */
.intro_part .intro_text h1 {
    font-size: 60px;
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 32px;
    line-height: 70px;
    color: #FFFFFF;
}

@media (max-width: 576px) {
    /* line 22, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_banner.scss */
    .intro_part .intro_text h1 {
        font-size: 25px;
        margin-bottom: 15px;
        line-height: 1.3;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    /* line 22, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_banner.scss */
    .intro_part .intro_text h1 {
        font-size: 30px;
        margin-bottom: 15px;
        line-height: 1.3;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* line 22, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_banner.scss */
    .intro_part .intro_text h1 {
        font-size: 40px;
        margin-bottom: 15px;
        line-height: 1.3;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    /* line 22, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_banner.scss */
    .intro_part .intro_text h1 {
        font-size: 40px;
        margin-bottom: 15px;
        line-height: 1.4;
    }
}

/* line 49, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_banner.scss */
.intro_part .intro_text h1 span {
    color: #ff0000;
}

/* line 53, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_banner.scss */
.intro_part .intro_text p {
    font-size: 15px;
    line-height: 1.8;
    font-family: "Poppins", sans-serif;
    color: #fff;
    margin-bottom: 45px;
    padding-right: 140px;
}

@media (max-width: 991px) {
    /* line 53, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_banner.scss */
    .intro_part .intro_text p {
        padding-right: 0;
        margin-bottom: 10px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    /* line 53, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_banner.scss */
    .intro_part .intro_text p {
        padding-right: 0;
    }
}

@media (max-width: 991px) {
    /* line 68, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_banner.scss */
    .intro_part .intro_text .btn_1 {
        margin-top: 30px;
    }
}

/**********************footer part css*******************/
/* line 3, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_footer.scss */
.footer_part .footer_top {
    padding: 140px 0 100px;
}

@media (max-width: 576px) {
    /* line 3, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_footer.scss */
    .footer_part .footer_top {
        padding: 70px 0;
    }
}

@media (max-width: 991px) {
    /* line 3, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_footer.scss */
    .footer_part .footer_top {
        padding: 70px 0;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    /* line 3, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_footer.scss */
    .footer_part .footer_top {
        padding: 100px 0;
    }
}

/* line 17, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_footer.scss */
.footer_part img {
    margin-bottom: 35px;
}

@media (max-width: 576px) {
    /* line 21, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_footer.scss */
    .footer_part .single_footer_part {
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    /* line 21, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_footer.scss */
    .footer_part .single_footer_part {
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* line 21, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_footer.scss */
    .footer_part .single_footer_part {
        margin-bottom: 20px;
    }
}

/* line 36, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_footer.scss */
.footer_part .single_footer_part h4 {
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 500;
}

@media (max-width: 576px) {
    /* line 36, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_footer.scss */
    .footer_part .single_footer_part h4 {
        margin-bottom: 15px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    /* line 36, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_footer.scss */
    .footer_part .single_footer_part h4 {
        margin-bottom: 15px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* line 36, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_footer.scss */
    .footer_part .single_footer_part h4 {
        margin-bottom: 15px;
    }
}

/* line 56, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_footer.scss */
.footer_part .single_footer_part p {
    margin-bottom: 10px;
    color: #bebebe;
}

/* line 63, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_footer.scss */
.footer_part .single_footer_part .list-unstyled li a {
    color: #bebebe;
    margin-bottom: 10px;
    display: inline-block;
    font-family: "Poppins", sans-serif;
}

/* line 68, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_footer.scss */
.footer_part .single_footer_part .list-unstyled li a:hover {
    color: #ff0000 !important;
}

/* line 75, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_footer.scss */
.footer_part .single_footer_part .social_icon {
    float: left;
    margin-top: 38px;
}

@media (max-width: 991px) {
    /* line 75, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_footer.scss */
    .footer_part .single_footer_part .social_icon {
        margin-top: 15px;
    }
}

/* line 86, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_footer.scss */
.footer_part .single_footer_part .social_icon li a {
    margin-left: 0;
    margin-right: 25px;
}

/* line 95, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_footer.scss */
.footer_part .single_footer_part .mail_part {
    position: relative;
}

/* line 98, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_footer.scss */
.footer_part .single_footer_part .mail_part input {
    padding: 9px 22px;
    font-size: 13px;
    border-radius: 0;
    margin-top: 20px;
    width: 100%;
    background-color: #f9f9fe;
    border: 1px solid transparent;
}

/* line 108, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_footer.scss */
.footer_part .single_footer_part .mail_part .email_icon {
    position: absolute;
    right: 0px;
    top: 20px;
    height: 39.3px;
    text-align: center;
    color: #fff;
    border-radius: 0;
    line-height: 10px;
    background-size: 200% auto;
}

/* line 119, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_footer.scss */
.footer_part .single_footer_part .mail_part .email_icon i {
    font-size: 15px;
}

/* line 123, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_footer.scss */
.footer_part .single_footer_part .mail_part .button-contactForm {
    padding: 11px;
    border: 2px solid;
    border-image: linear-gradient(to left, #c6019a 0%, #ff0000 100%);
    border-image-slice: 1;
}

/* line 132, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_footer.scss */
.footer_part hr {
    background-color: #cad7dc;
    margin-top: 50px;
    margin-bottom: 25px;
}

/* line 138, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_footer.scss */
.footer_part .footer_icon {
    text-align: right;
}

/* line 141, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_footer.scss */
.footer_part .footer_icon li {
    display: inline-block;
}

/* line 144, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_footer.scss */
.footer_part .footer_icon li a {
    font-size: 14px;
    color: #555555;
    margin-left: 30px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

@media (max-width: 576px) {
    /* line 144, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_footer.scss */
    .footer_part .footer_icon li a {
        margin-left: 0px;
        margin-right: 25px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    /* line 144, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_footer.scss */
    .footer_part .footer_icon li a {
        margin-left: 0px;
        margin-right: 25px;
    }
}

/* line 165, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_footer.scss */
.footer_part .footer_icon li a :hover {
    color: #ff0000;
}

@media (max-width: 576px) {
    /* line 138, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_footer.scss */
    .footer_part .footer_icon {
        float: left;
        margin-top: 15px;
    }
}

/* line 184, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_footer.scss */
.footer_part .copyright_text p {
    color: #888;
}

/* line 188, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_footer.scss */
.footer_part .copyright_text span {
    color: #ff0000;
    font-size: 12px;
}

@media (max-width: 991px) {
    /* line 183, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_footer.scss */
    .footer_part .copyright_text {
        text-align: center !important;
    }
}

/* line 200, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_footer.scss */
.footer_part .copyright_text p a {
    color: #ff0000;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

/* line 204, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_footer.scss */
.footer_part .copyright_text p a:hover {
    color: #ff0000;
}

/* line 209, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_footer.scss */
.footer_part .info {
    color: red !important;
}

@media (max-width: 991px) {
    /* line 214, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_footer.scss */
    .footer_part .footer_icon {
        text-align: center;
        float: none;
    }
}

/* line 223, ../../01 cl html template/03_jun 2019/186_Gaiming_html/sass/_footer.scss */
.footer_part .copygight_text {
    background-color: #0b111f;
    padding: 30px 0;
}
